/* 
Colors
F77778 - too close to NastyGal

886F7F - muted purple in logo
A66D8F - brighter reddish purple in logo
CE8D4E - honey in logo
448C9F - green in logo
*/


.logo img {height:100px;}

.header-center {
	padding-top:10px;
	text-align:center;
}

.header-container {
	margin: 0 0 8px;
}

.header .logo {
	margin:0 auto;
	float: none;
	text-decoration: none !important;
}


#top {background-color:#e5e5e5;height:24px;padding:4px 0;position:fixed;width:100%;z-index:3000;}
#top .page {background-color:transparent;}
#top .top-bar {margin:0;}
#top .form-search {border:0;height:24px;}
#top .minicart {float:right;}



#nav span.sale-color {color:#eb340a;}


/* top lins */
#top ul.links {
	float:right;
	height:18px;
	padding:4px 0 2px;
}

/* minicart */
.block-cart-header .button-show {
	/* margin-top:0;
	line-height:20px;
	height:20px;
	padding:3px 22px 1px 10px;
	background-image:url(../flockimages/shopping_basket.png); */
	padding-left:12px;
	margin-top:-2px;
}

/* cart dropdown */
.block-cart-header #header-items {
	top:22px;
	background:white;
	border:3px #e5e5e5 solid;
	border-top:5px #e5e5e5 solid;
	font-family:Verdana;
	letter-spacing:0;
}
.block-cart-header #header-items p.product-name {
	font-family:Arial;
}

/* #nav > li {padding:8px 35px 8px;}
#nav > li.over {padding:7px 34px 7px;} */
#nav > li {margin-right:54px;}
#nav > li.clearence {margin-right:0;}
#nav > li > a {position:relative;top:2px;text-align:center;}
/* NAV WIDTHS PLUS SOME */
li.nav-0 > a {width:33px;} /* NEW */
li.nav-1 > a {width:59px;} /* CLOTHES */
li.nav-2 > a {width:83px;} /* ACCESSORIES */
li.nav-3 > a {width:46px;} /* SHOES */
li.nav-4 > a {width:44px;} /* HOME */
li.nav-5 > a {width:40px;} /* SALE */
li.nav-6 > a {width:50px;} /* ABOUT */
li.clearence > a {width:41px;} /* BLOG */


#nav .chield {width:908px;}


#page {padding-top:24px;}

/* weird alignment issue, was height:24px no padding before pisak; */
#top .form-search input.input-text,
#top .form-search input.input-text:focus {height:24px;line-height:15px;}
#top .form-search button.button {line-height:20px;}

/* footer */
.aditional-footer, .footer {background:transparent;}
.footer-container {background:url('../flockimages/snow.png');} /* efefe7 */
.footer-social {display:none;}

/* newsletter focus fix */
#newsletter {border-left:1px solid white;}
#newsletter:focus { border-left: 1px solid #ff292c; }

/* PISAK */

/* #top .form-search input.input-text, */ #top, #nav > li > a > span, #top button span, .add-to-cart button.button span {
	font-family:Pisak;
	letter-spacing: 0.1em;
	font-weight:bold;
}

#top, #nav > li > a > span {
	text-transform: uppercase;
}
/* */ #top .form-search input.input-text {font-size:14px;} /* */
#top ul.links, #top .minicart {font-size:12px;position:relative;top:1px;}
#top ul.links li {background-image:none;}
#nav > li > a > span {font-size:19px;}

#top button span {
	font-size:14px;
	position:relative;
	top:1px;
}

#zoom-window {width:512px;height:500px!important;left:418px;}
.product-view .zoom-container, .product-view .product-img-box {width:404px;}
.product-view .product-img-box .more-views {float:right;width:50px;height:511px;margin:0;}

.product-view .product-img-box .more-views .slide {
	margin: 0 0 14px;
	float: right;
}

.product-view .product-img-box .more-views .slide a {
	float: right;
	width: 50px;
	height: 75px;
	border-width: 0px;
}

.product-view .product-img-box .main-image {float:left;}
.product-view .product-img-box .main-image img {border: none;}

.product-view .product-shop .white-back {
	padding:0 20px;
	border-left:1px solid #efefef;
	float:right;
	width:480px;
}

/* PRODUCT LIST */
/* these values are in list.phtml as well TODO: list format; */
.products-list-grid.columns3 .item {width: 245px;}
.products-list-grid.columns3 .item .product-image {height: 368px;} /* might be 367 */
.products-list-grid.columns4 .item {width: 170px;}
.products-list-grid.columns4 .item .product-image {height: 255px;}

.products-list-grid.columns3 .item .price-box,
.products-list-grid.columns4 .item .price-box {width:auto;}
.products-list-grid .regular-price .price {font-size:14px;}

.products-list-grid .moreinfo {padding: 7px 0 14px;}
.products-list-grid h2.product-name {
	font-family:Arial;
	letter-spacing:-0.05em;
	font-size: 12px;
	text-align: left;
	text-transform: none;
	margin-bottom: 2px;
}

.toolbar-bottom {display:none;}

.back-to, .block-compare, 
.category-clothes .block-layered-nav,
.category-accessories .block-layered-nav,
p.availability, p.required  {
	display:none; /* TODO: just remove these in code */
}

.breadcrumbs, 
.left-categorys .block-title h2 {
	font-family:'Courier New',Courier,Monospace;
	letter-spacing:-0.05em;
}
h2, .block .block-title strong span, .itemcount, label, .add-to-cart label, .limiter {
	font-family:Arial;
}

.itemcount {
	font-weight:normal;
	position:relative;
	right:1px;
	bottom:1px;
}

#top .form-search input.input-text {
	font-family:'Courier New';
	font-size:11px;
	letter-spacing:-0.05em;
}

.block-layered-nav .block-content {padding-left:0;}

.price {font-family: inherit;}

.catalog-category-view .add-to-links li {
	padding-left: 10px;
}

#nav ul.level0 {
	padding: 22px 15px!important;
	font-family:Arial;
	font-size:12px;
}

.note-msg, .notice-msg {
	text-align:center;
	padding:18px!important;
	font-size:22px;
	border-color: #aaa;
	color: #666;
}

.product-code {color:#ddd;border-bottom:2px solid #e0e0e0;}
.product-view .product-shop .add-to-links {border-top:2px solid #e0e0e0;}

.availability-only {color:#d76768;}
.availability-only strong {font-weight:normal;}
.product-view .product-shop .product-name h2 {
	margin-bottom:0;
}

.block-cart-header .button-show a {color:black;}


.product-view .product-shop .quanitybox {
	float:none;
	margin:0 0 8px;
	text-align:left;
}
.add-to-cart label {margin-left:0;float:none;}
.add-to-cart button.button {margin-left:0;float:none;padding-left:40px;padding-right:40px;}
.quanitybox input, .add-to-cart .qty {float:none;}
.quantity_box_button_up, .quantity_box_button_down {height:26px;}

.product-tabs li > a {
	font-family: Arial;
}

#container2 .product-options-bottom .add-to-links li {background:none;}

/* experiment */
.product-view .product-shop .price-under-name {overflow:auto;}
.product-view .product-shop .price-under-name .price-box {margin:0;}
.product-view .product-shop .price-under-name span.price {font-size:16px;position:relative;bottom:6px;}

.product-essential #container2 {margin-top:0;}

.product-options dd select {width:50%;}
.product-options {padding-top:6px;}
#added img {width:50px;height:75px;}


.sort-by label, .view-mode label, .limiter label {
	padding: 2px 1px 1px 5px;
}

ol.subfilter {
	margin:8px 25px 3px 25px;
	border-bottom:1px dotted #ddd;
	font-style:italic;
}
ol.subfilter.first {margin-top:4px;}

/* FEATHER BULLETS .left-categorys-container a {
	background-color:white!important;
	margin: 5px 2px;
	padding: 2px 0 0 18px;
	background-image: url(../flockimages/feather-16.jpg);
} */


.products-list .product-shop {
	min-height:262px; /* this is a temp fix */
}

#nav .chield {
	border:1px solid #333!important;
}


.products-list-grid .btn-cart, .products-list-grid .add-to-links {
	display:none;
}




